@model IEnumerable<SampleSecureWeb.Models.Student>

<h2>Students</h2>

@if (!Model.Any())
{
    <p>No students found.</p>
}
else
{
    <table class="table table-striped">
        <tr>
            <td>NIM</td>
            <td>FullName</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NIM</td>
                <td>@item.FullName</td>
            </tr>
        }
    </table>
}
